.container {
  width: 80%;
  height: auto;
  margin: 50px auto;
}
.fields {
  display: flex;
  justify-content: space-between;
}
.row {
  display: flex;
}
.cell {
  width: 40px;
  height: 40px;
  border: 1px solid #000;
}
.pick_ship {
  margin-top: 20px;
}
#tr_ship_1,
#tr_ship_2 {
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  background-color: #e8e8e8;
  padding: 5px 10px;
}
#tr_ship_1:hover,
#tr_ship_2:hover {
  background-color: #c3c3c3;
}
#start_game {
  margin-top: 20px;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  background-color: #e8e8e8;
  padding: 5px 10px;
}
#field2 {
  display: none;
}
#win_text {
  display: none;
}
#lose_text {
  display: none;
}
#turn {
  display: none;
}
.cell_disabled {
  pointer-events: none;
}
.cell_enabled {
  pointer-events: auto;
}
